:root {
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-self: center;
  justify-self: center;
}

body {
  font-family: "Manrope", serif;
  background-color: var(--Light-Grayish-Blue);
}

@media screen and (max-width: 700px) {
  section {
    width: 90%;
  }
}

section {
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 0.1rem 8rem var(--Grayish-Blue);
}

#drawers {
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

#title {
  font-size: large;
  font-weight: bold;
  color: var(--Very-Dark-Grayish-Blue);
  margin: 2.5rem 2rem 0 2rem;
}

#description {
  font-weight: lighter;
  color: var(--Grayish-Blue);
  margin-bottom: 2.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

#profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#profile-picture {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 1rem;
}

#name {
  font-size: small;
  font-weight: bolder;
  color: var(--Very-Dark-Grayish-Blue);
  margin: 0;
}

#date {
  font-size: smaller;
  color: var(--Desaturated-Dark-Blue);
  margin: 0;
}

.share {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

#inactive-footer {
  justify-content: space-between;

  .share {
    background-color: var(--Light-Grayish-Blue);
    border-radius: 50%;
    padding: 0.5rem;
  }
}

#active-footer {
  display: none;
  background-color: var(--Very-Dark-Grayish-Blue);
  color: white;
  justify-content: space-around;

  p {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5em;
    color: var(--Desaturated-Dark-Blue);
  }

  #accounts {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .share {
    /* background-color: var(--Desaturated-Dark-Blue); */
    padding: 0.5rem;
    border-radius: 50%;
    /* fill: white;
    color: white; */
  }

  .share img {
    filter: brightness(0) invert(1);
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 2rem 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
